@charset "UTF-8";

/*
 * Мин		Макс	Ориентация	Вьюпорт
 * 0		767		portrait	pp
 * 0		1023	landscape	pl
 * 768		1279	portrait	tp
 * 1024		1279	landscape	tl
 * 1280		1599	Любая		l
 * 1600		∞		Любая		w
*/
// Установка корневой единицы измерения для различных вьюпортов
html {
	@include phone-portrait { font-size: (1 / 3.6) + vw }
	@include phone-landscape { font-size: (1 / 7.68) + vw }
	@include tablet-portrait { font-size: (1 / 10.24) + vw }
	@include tablet-landscape { font-size: (1 / 12.80) + vw }
	@include large { font-size: (1 / 12.80) + vw }
	@include wide { font-size: (1 / 15.99) + vw }
}